/* header */

.header{
    display: block;
    margin: auto;
    padding: 10px;
    background-color: black;
}

.header > h1{
    text-align: center;
    font-size: 50px;
    color: bisque;
    font-family: "Brush Script MT", "sans-serif";
}

/* middle div */

/* .middle {
    position: relative;
    margin: 0;
    background-color: gray;
} */

/* footer  */

.footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    /* background-color: gray; */
}

/* instrumental div  */

.instrumentalDiv {
    /* display: block; */
    float: left;
    bottom: 0px;
    /* position: absolute; */
    margin: 10px;
    align-items: center;
}

/* vocal div */
.vocalDiv{
    /* display: block; */
    bottom: 0px;
    /* position: absolute; */
    float: right;
    margin: 10px;
    align-items: center;
}

#instrumentalBPM {
    position: absolute;
    align-items: center;
    display: block;
    bottom: 250%;
    left: 5%;
    width: 35%;
    -webkit-appearance: none;
    border-radius: 5px;
    height: 35%;
}

#instrumentalBPM::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    background: black;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
}

/* #instrumentalBPM::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    appearance: none;
    background: lightgray;
    width: 5px;
    height: 10px;
    cursor: pointer;
} */

#instrumentalLabel {
    position: absolute;
    display: block;
    bottom: 100%;
    left: 5%;
    font-family: "Trebuchet MS", "sans-serif";
    font-weight: bold;
}

#vocalBPM {
    position: absolute;
    align-items: center;
    display: block;
    bottom: 250%;
    right: 5%;
    width: 35%;
    -webkit-appearance: none;
    border-radius: 5px;
    height: 35%;
}

#vocalLabel {
    position: absolute;
    display: block;
    bottom: 100%;
    right: 5%;
    font-family: "Trebuchet MS", "sans-serif";
    font-weight: bold;
}

/* be able to change by mouse scroll ^^^^^ */

#vocalBPM::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    background: black;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
}

#play\/pause {
    /* margin: 10px; */
    position: absolute;
    align-items: center;
    left: 21%;
    background-color: rgb(165, 165, 165);
    border-width: 2px;
    border-radius: 35%;
    font-size: 25px;
    padding: 0% 0.6% 0% 0.5%;
    box-shadow: 1.5px 1.5px 1px rgb(44, 44, 44);
    bottom: 25%;
}

.middle{
    /* margin: 0px; */
    height: 90%;
    width: 100%;
    position: absolute; top: auto; left: 0;
    /* opacity: 0.8; */
    background-color: gray;
}

#play\/pause_vocals{
    /* margin: 10px; */
    position: absolute;
    align-items: center;
    bottom: 25%;
    right: 21%;
    background-color: rgb(165, 165, 165);
    border-width: 2px;
    border-radius: 35%;
    font-size: 25px;
    padding: 0% 0.6% 0% 0.5%;
    box-shadow: 1.5px 1.5px 1px rgb(44, 44, 44);
}

.instrumentals{
    position: absolute;
    align-items: center;
    display: block;
    left: 10%;
    top: 2%;
    width: 25%;
    border-radius: 20px;
    padding-top: 0.3%;
    padding-bottom: 0.3%;
    opacity: 0.8;
    background-color: black;
    border-color: lightgrey;
    border-width: 1px;
    font-family: "Trebuchet MS", "sans-serif";
    font-weight: bold;
    text-align: center;
    color: bisque;
    -webkit-appearance: none;
    box-shadow: 2px 2px 1px lightgray;
}

select > option{
    background-color: gray;
}

.vocals{
    position: absolute;
    align-items: center;
    display: block;
    right: 10%;
    top: 2%;
    width: 25%;
    border-radius: 20px;
    padding-top: 0.3%;
    padding-bottom: 0.3%;
    opacity: 0.8;
    background-color: black;
    border-color: lightgrey;
    border-width: 1px;
    font-family: "Trebuchet MS", "sans-serif";
    font-weight: bold;
    text-align: center;
    color: bisque;
    -webkit-appearance: none;
    box-shadow: 2px 2px 1px lightgray;
}

.playboth{
    position: absolute;
    align-items: center;
    left: 45%;
    top: 8%;
    border-radius: 10px;
    box-shadow: 1.5px 1.5px 1px rgb(44, 44, 44);
    background-color: lightgray;
    padding: 4px, 10px, 4px, 10px;
    border-width: 2px;
    font-family: "Trebuchet MS", "sans-serif";
    font-weight: bold;
}


