/* header */

.header{
    display: block;
    margin: auto;
    padding: 10px;
    background-color: black;
}

.header > h1{
    text-align: center;
    font-size: 50px;
    color: bisque;
    font-family: "Brush Script MT", "sans-serif";
}

/* middle div */

.middle {
    position: relative;
    margin: 0;
    background-color: gray;
}

/* footer  */

.footer{
    position: absolute;
    width: 100%;
    bottom: 0;
}

/* instrumental div  */

.instrumentalDiv {
    /* display: block; */
    float: left;
    bottom: 0px;
    /* position: absolute; */
    margin: 10px;
    align-items: center;
}

/* vocal div */
.vocalDiv{
    /* display: block; */
    bottom: 0px;
    /* position: absolute; */
    float: right;
    margin: 10px;
    align-items: center;
}

#instrumentalBPM {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

/* be able to change by mouse scroll ^^^^^ */

#vocalBPM {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#play\/pause {
    margin: 10px;
}

.middle{
    /* margin: 0px; */
    height: 88%;
    width: 100%;
    position: absolute; top: auto; left: 0;
    opacity: 0.8;
}

#play\/pause_vocals{
    margin: 10px;
}

.instrumentals{
    position: absolute;
    align-items: center;
    display: block;
    left: 10%;
    top: 2%;
    width: 25%;
    border-radius: 5%;
    padding-top: 0.3%;
    padding-bottom: 0.3%;
    /* opacity: 0.6; */
    background-color: gray;
    border-color: bisque;
    border-width: 1px;
    font-family: "Trebuchet MS", "sans-serif";
    font-weight: bold;
    text-align: center;
}

.vocals{
    position: absolute;
    align-items: center;
    display: block;
    right: 15%;
    top: 2%;
    width: 20%;
    border-radius: 3%;
}


